<h1>Site Chooser</h1>

<div class="panel">
  <p class="subheader">Select the site instance you would like to modify settings for.</p>
</div>

<div class="row">

  <div class="medium-8 columns">

    <div class="panel panel-list" id="site-list">

      <!--<li ng-repeat=" opt in opts" ng-bind-html-unsafe="" >
        {{ opt.value }}
      </li>-->

      <a href="#/sites/{{i.sitename}}" ng-repeat="i in sites | orderBy:sitename" class="button small">{{ formatName(i.sitename) }}</a>

    </div>

  </div>

</div>