<h1>Site Chooser</h1>

<div class="panel">
  <p class="subheader">Select the site instance you would like to modify settings for. You will continue to work on this instance until you choose a different one.</p>
</div>

<div id="login" class="mt100 mb100 medium-6 medium-offset-3">

</div>

<div class="row">

  <div class="medium-5">

    <ul>
      <li>Bravo Apps<a href="#/sites/bravo-apps" class="right button">bravo-apps</a></li>
      <li>Bravo Apps<a href="#/sites/bravo-web" class="right button">bravo-web</a></li>
      <li>CNBC Prime<a href="/sites/cnbc-prime" class="right button">cnbc-prime</a></li>
      <li>EOnline Apps<a href="/sites/eonline-apps" class="right button">eonline-apps</a></li>
      <li>EOnline Web<a href="/sites/eonline-web" class="right button">eonline-web</a></li>
      <li>Fandango Apps<a href="/sites/fandango-apps" class="right button">fandango-apps</a></li>
      <li>Fandango Mobile<a href="/sites/fandango-mobile" class="right button">fandango-mobile</a></li>
      <li>Fandango Web<a href="/sites/fandango-web" class="right button">fandango-web</a></li>
      <li>Movies Web<a href="/sites/movies-web" class="right button">movies-web</a></li>
      <li>NBC Apps<a href="/sites/nbc-apps" class="right button">nbc-apps</a></li>
      <li>NBC Tonight Show<a href="/sites/nbc-tonightshow" class="right button">nbc-tonightshow</a></li>
      <li>NBC Web<a href="/sites/nbc-web" class="right button">nbc-web</a></li>
      <li>NBC Sports Web<a href="/sites/nbcsports-web" class="right button">nbcsports-web</a></li>
      <li>NHL Web<a href="/sites/nhl-web" class="right button">nhl-web</a></li>
      <li>Partners<a href="/sites/partners" class="right button">partners</a></li>
      <li>Recode Web<a href="/sites/recode-web" class="right button">recode-web</a></li>
      <li>Sandbox<a href="/sites/sandbox" class="right button">sandbox</a></li>
      <li>Telemundo Web<a href="/sites/telemundo-web" class="right button">telemundo-web</a></li>
      <li>USA Web<a href="/sites/usa-web" class="right button">usa-web</a></li>
    </ul>

  </div>

</div>



<ul id="navlist">
  <li></li>
  <li><a href="/sitechooser/bravo-web">bravo-web</a></li>

</ul>