<ul class="breadcrumbs mt20">
  <li><a href="#/sites">Sites</a></li>
  <li class="current">{{title}}</li>
  <li class="right"><a class="tiny button" href="#/sites">Change Site</a></li>
</ul>

<h1>{{title}}</h1>

<dl class="tabs small" data-tab>
  <dd class="active"><a href="#/sites/{{siteName}}">Overview</a></dd>
  <dd><a href="#/sites/{{siteName}}/pages">Pages</a></dd>
  <dd><a href="#/sites/{{siteName}}/sections">Sections</a></dd>
  <dd><a href="#/sites/{{siteName}}/content-types">Content Types</a></dd>
  <dd><a href="#/sites/{{siteName}}/packages">Packages</a></dd>
  <dd><a href="#/sites/{{siteName}}/globals">Globals</a></dd>
  <dd><a href="#/sites/{{siteName}}/scheduling">Scheduling</a></dd>
  <dd><a href="#/sites/{{siteName}}/logs">Logs &amp; Tools</a></dd>
</dl>

<ul class="pricing-table">
  <li class="title">MPS Action Items</li>
  <li class="bullet-item">
    <ul>
      <li>There are no items that require action.</li>
    </ul>
  </li>
</ul>

<ul class="pricing-table">
  <li class="title">MPS Mode Overview</li>
  <li class="cta-button">
    <a href="#" class="button">Debug Mode</a>
    <a href="#" class="button">MPS Overlay [off]</a>
    <a href="#" class="button">Instance Redirect</a>

    <a href="#" class="button right secondary small">Clear Cookies</a>
    <a href="#" class="button right secondary mr20 small">MPS Cookies</a>
  </li>
  <div class="clear"></div>
</ul>

<ul class="pricing-table">
  <li class="title">Site Data Analysis</li>
  <li class="bullet-item">
    <ul>
      <li>New <span class="subheader"><strong>{{title}}</strong></span> Pages <span>(past 24h):</span> <span class="num subheader">0</span></li>

      <li>Total <span class="subheader"><strong>{{title}}</strong></span> Pages: <span class="num subheader">1</span></li>
      <li>Total <span class="subheader"><strong>{{title}}</strong></span> Sections: <span class="num subheader">4</span></li>
      <li>Total <span class="subheader"><strong>{{title}}</strong></span> Content Types: <span class="num subheader">0</span></li>
      <li>Total <span class="subheader"><strong>{{title}}</strong></span> Content Affinty Groups: <span class="num subheader">0</span></li>
      <li>Last Change By <span>chris.mills@nbcuni.com</span> Made <span>29 days ago:</span> <span class="btn subheader">Pages &circ; Destroy</span><span class="num">1355126</span></li>
    </ul>
  </li>
</ul>

<ul class="pricing-table">
  <li class="title">Neweset Pages Added to MPS</li>
  <li class="bullet-item">
    <ul class="table-list">
      <li><a href="/pages/modify/12345">/node/1052651</a> [Janeane Garofalo]</li>
      <li><a href="/pages/modify/12345">/node/1052651</a> [Janeane Garofalo]</li>
      <li><a href="/pages/modify/12345">/node/1052651</a> [Janeane Garofalo]</li>
      <li><a href="/pages/modify/12345">/node/1052651</a> [Janeane Garofalo]</li>
      <li><a href="/pages/modify/12345">/node/1052651</a> [Janeane Garofalo]</li>
    </ul>
  </li>
</ul>

<ul class="pricing-table">
  <li class="title">Upcoming Scheduled Items</li>
  <li class="bullet-item">
    <ul>
      <li>No scheduled items for <strong>{{title}}</strong></li>
    </ul>
  </li>
</ul>

<ul class="pricing-table">
  <li class="title">Recently Active MPS Users</li>
  <li class="bullet-item">
    <ul>
      <li>chrismills.me@gmail.com</li>
    </ul>
  </li>
</ul>