<ul class="breadcrumbs mt20">
  <li><a href="#/sites">Sites</a></li>
  <li ><a href="#/sites/{{siteName}}">{{title}}</a></li>
  <li class="current">Sections</li>
  <li class="right"><a class="tiny button" href="#/sites">Change Site</a></li>
</ul>

<h1>{{title}} / <span class="secondary">Sections</span></h1>

<dl class="tabs small" data-tab>
  <dd><a href="#/sites/{{siteName}}">Overview</a></dd>
  <dd><a href="#/sites/{{siteName}}/pages">Pages</a></dd>
  <dd class="active"><a href="#/sites/{{siteName}}/sections">Sections</a></dd>
  <dd><a href="#/sites/{{siteName}}/content-types">Content Types</a></dd>
  <dd><a href="#/sites/{{siteName}}/packages">Packages</a></dd>
  <dd><a href="#/sites/{{siteName}}/globals">Globals</a></dd>
  <dd><a href="#/sites/{{siteName}}/scheduling">Scheduling</a></dd>
  <dd><a href="#/sites/{{siteName}}/logs">Logs &amp; Tools</a></dd>
</dl>

<p>Sections.</p>