<ul class="breadcrumbs mt20">
  <li><a href="#/sites">Sites</a></li>
  <li ><a href="#/sites/{{siteName}}">{{title}}</a></li>
  <li class="current">Pages</li>
  <li class="right"><a class="tiny button" href="#/sites">Change Site</a></li>
</ul>

<h1>{{title}} / <span class="secondary">Pages</span></h1>

<dl class="tabs small" data-tab>
  <dd><a href="#/sites/{{siteName}}">Overview</a></dd>
  <dd class="active"><a href="#/sites/{{siteName}}/pages">Pages</a></dd>
  <dd><a href="#/sites/{{siteName}}/sections">Sections</a></dd>
  <dd><a href="#/sites/{{siteName}}/content-types">Content Types</a></dd>
  <dd><a href="#/sites/{{siteName}}/packages">Packages</a></dd>
  <dd><a href="#/sites/{{siteName}}/globals">Globals</a></dd>
  <dd><a href="#/sites/{{siteName}}/scheduling">Scheduling</a></dd>
  <dd><a href="#/sites/{{siteName}}/logs">Logs &amp; Tools</a></dd>
</dl>

<div class="panel mt20 inline-search">
  <form>
    <label>Path: <input type="text" /></label>
    <label>Type: <input type="text" /></label>
    <label>Cat: <input type="text" /></label>
    <label>Title: <input type="text" /></label>
    <label>Content: <input type="checkbox" checked /></label>
    <label>Package: <input type="checkbox" /></label>
    <div class="button tiny">Reset</div>
  </form>
</div>

<ul class="pagination mt20">
  <li>Page:</li>
  <li class="arrow unavailable"><a href="">«</a></li>
  <li class="current"><a href="">1</a></li>
  <li><a href="">2</a></li>
  <li><a href="">3</a></li>
  <li><a href="">4</a></li>
  <li class="unavailable"><a href="">…</a></li>
  <li><a href="">12</a></li>
  <li><a href="">13</a></li>
  <li class="arrow"><a href="">»</a></li>
</ul>

<ul class="table-list">
  <li><a href="#/sites/{{siteName}}/pages/modify/12345">/the-daily-dish/news</a> » other » <a href="/sections/modify/token">[the-daily-dish</a> →  <a href="/sections/modify/token">news]</a> <span class="round label">View</span><span class="round alert label">Destroy</span></li>
  <li><a href="#/sites/{{siteName}}/pages/modify/12345">/the-daily-dish/news</a> » other » <a href="/sections/modify/token">[the-daily-dish</a> →  <a href="/sections/modify/token">news]</a> <span class="round label">View</span><span class="round alert label">Destroy</span></li>
  <li><a href="#/sites/{{siteName}}/pages/modify/12345">/the-daily-dish/news</a> » other » <a href="/sections/modify/token">[the-daily-dish</a> →  <a href="/sections/modify/token">news]</a> <span class="round label">View</span><span class="round alert label">Destroy</span></li>
  <li><a href="#/sites/{{siteName}}/pages/modify/12345">/the-daily-dish/news</a> » other » <a href="/sections/modify/token">[the-daily-dish</a> →  <a href="/sections/modify/token">news]</a> <span class="round label">View</span><span class="round alert label">Destroy</span></li>
  <li><a href="#/sites/{{siteName}}/pages/modify/12345">/the-daily-dish/news</a> » other » <a href="/sections/modify/token">[the-daily-dish</a> →  <a href="/sections/modify/token">news]</a> <span class="round label">View</span><span class="round alert label">Destroy</span></li>
  <li><a href="#/sites/{{siteName}}/pages/modify/12345">/the-daily-dish/news</a> » other » <a href="/sections/modify/token">[the-daily-dish</a> →  <a href="/sections/modify/token">news]</a> <span class="round label">View</span><span class="round alert label">Destroy</span></li>
  <li><a href="#/sites/{{siteName}}/pages/modify/12345">/the-daily-dish/news</a> » other » <a href="/sections/modify/token">[the-daily-dish</a> →  <a href="/sections/modify/token">news]</a> <span class="round label">View</span><span class="round alert label">Destroy</span></li>
  <li><a href="#/sites/{{siteName}}/pages/modify/12345">/the-daily-dish/news</a> » other » <a href="/sections/modify/token">[the-daily-dish</a> →  <a href="/sections/modify/token">news]</a> <span class="round label">View</span><span class="round alert label">Destroy</span></li>
  <li><a href="#/sites/{{siteName}}/pages/modify/12345">/the-daily-dish/news</a> » other » <a href="/sections/modify/token">[the-daily-dish</a> →  <a href="/sections/modify/token">news]</a> <span class="round label">View</span><span class="round alert label">Destroy</span></li>
  <li><a href="#/sites/{{siteName}}/pages/modify/12345">/the-daily-dish/news</a> » other » <a href="/sections/modify/token">[the-daily-dish</a> →  <a href="/sections/modify/token">news]</a> <span class="round label">View</span><span class="round alert label">Destroy</span></li>
  <li><a href="#/sites/{{siteName}}/pages/modify/12345">/the-daily-dish/news</a> » other » <a href="/sections/modify/token">[the-daily-dish</a> →  <a href="/sections/modify/token">news]</a> <span class="round label">View</span><span class="round alert label">Destroy</span></li>
  <li><a href="#/sites/{{siteName}}/pages/modify/12345">/the-daily-dish/news</a> » other » <a href="/sections/modify/token">[the-daily-dish</a> →  <a href="/sections/modify/token">news]</a> <span class="round label">View</span><span class="round alert label">Destroy</span></li>
  <li><a href="#/sites/{{siteName}}/pages/modify/12345">/the-daily-dish/news</a> » other » <a href="/sections/modify/token">[the-daily-dish</a> →  <a href="/sections/modify/token">news]</a> <span class="round label">View</span><span class="round alert label">Destroy</span></li>
  <li><a href="#/sites/{{siteName}}/pages/modify/12345">/the-daily-dish/news</a> » other » <a href="/sections/modify/token">[the-daily-dish</a> →  <a href="/sections/modify/token">news]</a> <span class="round label">View</span><span class="round alert label">Destroy</span></li>
  <li><a href="#/sites/{{siteName}}/pages/modify/12345">/the-daily-dish/news</a> » other » <a href="/sections/modify/token">[the-daily-dish</a> →  <a href="/sections/modify/token">news]</a> <span class="round label">View</span><span class="round alert label">Destroy</span></li>
  <li><a href="#/sites/{{siteName}}/pages/modify/12345">/the-daily-dish/news</a> » other » <a href="/sections/modify/token">[the-daily-dish</a> →  <a href="/sections/modify/token">news]</a> <span class="round label">View</span><span class="round alert label">Destroy</span></li>
  <li><a href="#/sites/{{siteName}}/pages/modify/12345">/the-daily-dish/news</a> » other » <a href="/sections/modify/token">[the-daily-dish</a> →  <a href="/sections/modify/token">news]</a> <span class="round label">View</span><span class="round alert label">Destroy</span></li>
  <li><a href="#/sites/{{siteName}}/pages/modify/12345">/the-daily-dish/news</a> » other » <a href="/sections/modify/token">[the-daily-dish</a> →  <a href="/sections/modify/token">news]</a> <span class="round label">View</span><span class="round alert label">Destroy</span></li>
  <li><a href="#/sites/{{siteName}}/pages/modify/12345">/the-daily-dish/news</a> » other » <a href="/sections/modify/token">[the-daily-dish</a> →  <a href="/sections/modify/token">news]</a> <span class="round label">View</span><span class="round alert label">Destroy</span></li>
  <li><a href="#/sites/{{siteName}}/pages/modify/12345">/the-daily-dish/news</a> » other » <a href="/sections/modify/token">[the-daily-dish</a> →  <a href="/sections/modify/token">news]</a> <span class="round label">View</span><span class="round alert label">Destroy</span></li>
</ul>

<ul class="pagination mt20">
  <li>Page:</li>
  <li class="arrow unavailable"><a href="">«</a></li>
  <li class="current"><a href="">1</a></li>
  <li><a href="">2</a></li>
  <li><a href="">3</a></li>
  <li><a href="">4</a></li>
  <li class="unavailable"><a href="">…</a></li>
  <li><a href="">12</a></li>
  <li><a href="">13</a></li>
  <li class="arrow"><a href="">»</a></li>
</ul>